.main{
    margin:0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    padding: 20px;

}
.mid{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.lnk{
    color: #ddd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    cursor:pointer;
    float:left;
    text-align: center;
    justify-content: start;
}
.txt{
    color: #ddd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    cursor: default;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.img{
    width: 16px;
    height: 16px;
    object-fit: cover;
    object-position: center;
    margin-left: 5px;
    margin-right: 5px;
}